
/* - - - - - - - GERAL - - - - - - - */

#bongbong{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-top: 2%;
}
#subtitle{
    font-family: "Lucida Console", Courier, monospace;
    color: #dbe5f3;
}

body{
    text-align: center;
    background: rgb(145,168,208);
    background: linear-gradient(90deg, rgba(145,168,208,1) 30%, rgba(247,202,201,1) 70%);
}

#canvas{
    background: white; 
    border:3px outset rgb(140, 160, 224);
}

/* 'change mode' button */

#b_changeMode {
    display: inline-block;
    padding: 8px 100;
    font-size: 15px;
    font-family: "Lucida Console", Courier, monospace;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(105, 130, 173);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
#b_changeMode:hover {background-color: #F7CAC9}

#b_changeMode:active {
  background-color: rgb(247, 176, 175);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}


/* 'show' checkboxes*/

.c_show{
    font-family: "Lucida Console", Courier, monospace;
}

/* - - - - - - - 'DEFAULT' MODE - - - - - - - */

/* number input */

.avalNumber{
    border-radius: 15px;
    text-align: center;
    padding: 8px 1;
}


/* - - - - - - - 'MAKE CHANGES' MODE - - - - - - - */

/* 'prev/next' buttons */

.b_prevNext{
    display: inline-block;
    padding: 8px 15;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(247, 176, 175);
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #999;
}
.b_prevNext:hover {background-color: #F7CAC9}

.b_prevNext:active {
  background-color: rgb(230, 129, 127);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

/* 'delete mode' checkbox*/

.c_other{
    font-family: "Lucida Console", Courier, monospace;
}

/* - - - - - - - BOTH MODES - - - - - - - */

/* 'create/delete/insertPoints' buttons */

.b_actionToCurve{
    display: inline-block;
    padding: 8px 10;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Courier, monospace;
    outline: none;
    color: #fff;
    background-color: rgb(247, 176, 175);
    border: none;
    border-radius: 15px;
}
.b_actionToCurve:hover {background-color: #F7CAC9}

.b_actionToCurve:active {
  background-color: rgb(230, 129, 127);
  transform: translateY(2px);
}