body {
    text-align: center;
    background: rgb(145,168,208);
    background: linear-gradient(90deg, rgba(145,168,208,1) 30%, rgba(247,202,201,1) 70%);
    font-family: "Lucida Console", Courier, monospace;
}

.header-img {
    max-height:100px;
    width: auto;
    height: auto;
    margin-top: 2%;
}

.header-subtitle {
    
    color: #dbe5f3;
}

canvas {
    display: block;
    background: white; 
    margin: auto;
    border:3px outset rgb(140, 160, 224);
}

.fixed-checkboxes {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#b_changeMode {
    display: block;
    margin: 10px auto 15px;
    width: 200px;
    padding: 5px 8px;
    font-size: 15px;
    font-family: "Lucida Console", Courier, monospace;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(105, 130, 173);
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
}

#b_changeMode:hover {background-color: #F7CAC9}

#b_changeMode:active {
  background-color: rgb(247, 176, 175);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}


.defaultMode {
  display: flex; 
  justify-content: center; 
}

.makeChangesMode {
    display: flex;

}

#c_pointsKillerMode {
    margin: 0 auto;
}

.b_prevNext {
    padding: 8px 15;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(247, 176, 175);
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #999;
    padding: 8px 15px;
    margin: 10px 0;
}
.b_prevNext:hover {
    background-color: #F7CAC9
}

.b_prevNext:active {
  background-color: rgb(230, 129, 127);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.b_actionToCurve {
    display: inline-block;
    padding: 8px 10;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Courier, monospace;
    outline: none;
    color: #fff;
    background-color: rgb(247, 176, 175);
    border: none;
    border-radius: 15px;
    padding: 5px 8px;
    margin: 5px 1px;
}
.b_actionToCurve:hover {background-color: #F7CAC9}

.b_actionToCurve:active {
  background-color: rgb(230, 129, 127);
  transform: translateY(2px);
}

.avalNumber {
    border-radius: 15px;
    text-align: center;
    padding: 5px 3px;
    max-width: 50px;
}

